body {
    background-color: rgb(22, 22, 22);
    font-family: dosis;
    color: white;
}

.nav_text {
    font-family: dosis;
    color: white;
    font-size: 2em;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

svg {
    width: 100vw;
    height: 100vh;
    filter : drop-shadow(0px 0px 4px #000000);
}
